/* global.css */

body
{
  font-family: Calibri, Helvetica, sans-serif;
  font-size: large;
  background-color: lime;
}

h1,h2,h3,h4,h5,h6
{
  color: #00F; /* Blue */
}

a
{
  text-decoration: none;
  text-align: right;
}

.Page
{
  border: 10px solid lime;
}

.Breadcrumbs
{
  font-weight: bold;
  float: left;
}

.MainContent
{
  clear: both;
}

.GameCategory
{
  width: 318px;
  border: 20px solid lime;
  float: left;
  margin: 0 auto;
}

.MainLinks
{
  display: inline-block;
  width: 10em;
  text-align: right;
}

.ProductHeading
{
  font-size: x-large;
  font-weight: bold;
}

.ProductList
{
  clear: both;
}

p#intro_text
{
  clear:both;
}

div#logo
{
  float: left;
}

div#toplinks
{
  float: right;
}

div#footertext
{
  clear: left;
}

div#bottomlinks
{
  float: right;
}

div#page
{
  border: 20px solid pink;
  background-color: lime;
}

div#datetime
{
  clear: left;
}

p#cart
{
  clear: both;
}

img#GameImage
{
  background-color: red;
}

form#contactForm
{
  clear: both;
}

input#purchase
{
  float: right;
}
