/* global.css */

body
{
  font-family: Calibri, Helvetica, sans-serif;
  font-size: large;
  background-color: #7fff7a;
}

h1,h2,h3,h4,h5,h6
{
  color: #00F; /* Blue */
}

a
{
  text-decoration: none;
  text-align: right;
}

.Page
{
  border: 10px solid #7fff7a;
}

.Breadcrumbs
{
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.UnderConstruction
{
  color: #C00;
}

.MainContent
{
  clear: both;
}

.GameCategory
{
  text-align: center;
  font-weight: bold;
  font-size: larger;
  width: 318px;
  border: 20px solid #7fff7a;
  float: left;
  margin: 0 auto;
}

.MainLinks
{
  display: inline-block;
  width: 10em;
  text-align: right;
}

.ProductHeading
{
  font-size: x-large;
  font-weight: bold;
}

.ProductList
{
  clear: both;
}

.buyerInfo
{
  clear: both;
}

p#intro_text
{
  clear:both;
}

div#logo
{
  float: left;
}

div#toplinks
{
  float: right;
}

div#footertext
{
  clear: left;
}

div#bottomlinks
{
  height: 1em;
  float: right;
}

div#page
{
  border: 20px solid #7fff7a
  background-color: #7fff7a;
}

div#datetime
{
  clear: left;
}

div#cart
{
  clear: both;
}

p#aboutus
{
  clear: both;
}

img#GameImage
{
  background-color: #7fff7a;
}

form#contactForm
{
  clear: both;
}

input#purchase
{
  float: right;
}

input#reset
{
  float: right;
}

.Links div {
position: absolute;
visibility: hidden;
}

.Links div a {
display: block;
width: 156px;
padding: 5px 10px;
text-align: left;
text-decoration: none;
}